.container {
    display: flex;
    flex-direction: column;

}

.users {
    display: flex;
    flex-wrap: wrap;
    flex:25%;
    
}

.users div.user {
    margin:20px;
    border:1px solid #eee;
    padding:20px;
}